extends layout

block content
  a(href="/") forsiden
  h1= title
  h2 Dette er en hjemmeside for øl
  h3 På denne side vil du finde liste over 3 øl,
  p 2 jeg godt kan lide og en jeg ikke synes om
  p Det drejer sig om disse
  img(src=hobgoblin, alt="", style="height:150px")
  img(src=blackwych, alt="", style="height:150px")
  img(src=gingerbeard, alt="", style="height:150px")